@model SlotMachineApplication.Library.Models.Binding.AddSpin


@{
    ViewData["Title"] = "Home Page";
}

<header>
    <style>
        .pageWrapper {
            height: 100%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: blue;
            font-family: sans-serif;
        }

        .spinWrapper {
            width: 500px;
            display: flex;
            flex-direction: column;
            padding: 20px 40px;
            margin-bottom: 45px;
            border-radius: 10px;
            box-shadow: 0px 10px 25px #555;
            background-color: #ffffff;
            align-items: center;
        }

        .resultWrapper {
            width: 700px;
            background-color: deeppink;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 10px 15px #555;
            font-size: 20px;
            color: white;
        }
    </style>
</header>

<div class="pageWrapper">
    <h1 class="display-4" style="margin:40px">Slot Machine Application</h1>
    <div class="spinWrapper">
        <form style="padding-left:20%" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="display:flex;" class="form-group">
                <label class="control-label">Animals:</label>
                <input style="box-shadow:none;background-color: white; border: none; padding-bottom: 20px;" asp-for="Animals" class="form-control" value="@ViewBag.responseAnimal" readonly>
            </div>
            <div style="display:flex;" class="form-group">
                <label class="control-label">Number:</label>
                <input style="box-shadow: none; background-color: white; border: none; padding-bottom: 20px;" class="form-control" value="@ViewBag.responseNumber" readonly>
            </div>
            <div style="display:flex;" class="form-group">
                <label style="white-space:nowrap;" class="control-label">Bonus Number (@ViewBag.responseBonusNumber):</label>
                <input style="box-shadow: none; background-color: white; border: none; padding-bottom: 20px;" asp-for="BonusBall" class="form-control" value="@ViewBag.bonus" type="text" checked="@ViewBag.bonus" readonly>
            </div>
            <div style="display:flex;" class="form-group">
                <label class="control-label">Prize:</label>
                <input style="box-shadow: none; background-color: white; border: none; padding-bottom: 20px;" asp-for="Prize" class="form-control" value="@ViewBag.responsePrize" readonly>
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <input style="width:40%;" type="submit" value="Save" class="btn btn-primary" />
                    <input style="cursor: pointer; width: 40%;" onclick="window.location.reload();" value="New Spin" class="btn btn-primary" />
                </div>
            </div>
            <div style="padding-left: 20%;">
                @Html.ActionLink("Previous Spins", "ViewSpins")
            </div>
        </form>
    </div>

    <div class="resultWrapper">
        You Win @ViewBag.responsePrize !
    </div>
    <div class="container">
        <div class="row">
            <div class="col" style="background-color: #ffffff;border-radius:10px;margin-top:45px;">
                <h2 style="margin: 10px; text-align-last: center;">Prize Combos</h2>

                <table class="table">
                    <thead style="text-align-last:center;">
                        <tr>
                            <th scope="col">Prize</th>
                            <th scope="col">Combination</th>
                        </tr>
                    </thead>
                    <tbody style="text-align-last:center;">
                        <tr>
                            <th>Ferrari</th>
                            <td>3 Matches & Bonus Ball</td>
                        </tr>
                        <tr>
                            <th>$10,000</th>
                            <td>3 Matches</td>
                        </tr>
                        <tr>
                            <th>$1,500</th>
                            <td>2 Matches & Bonus Ball</td>
                        </tr>
                        <tr>
                            <th>$500</th>
                            <td>2 Matches</td>
                        </tr>
                        <tr>
                            <th>$100</th>
                            <td>Bonus Ball</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
